<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SolarDataUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolarDataUploader.Properties.Settings>
            <setting name="dbHost" serializeAs="String">
                <value>dbmaster.helpmebot.org.uk</value>
            </setting>
            <setting name="dbPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="dbUsername" serializeAs="String">
                <value>solar</value>
            </setting>
            <setting name="dbPassword" serializeAs="String">
                <value>nYf33XcdDt5EJP5P</value>
            </setting>
            <setting name="dbSchema" serializeAs="String">
                <value>solar</value>
            </setting>
            <setting name="settingsLocked" serializeAs="String">
                <value>True</value>
            </setting>
        </SolarDataUploader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
